# puerto
PORT=8000

# URI de conexión a la base de datos
MONGO_URI=mongodb://localhost:27017/nombrebasededato

# ambiente
NODE_ENV=development

# clave JWT
JWT_SECRET=clave-secreta-para-generar-tokens
